[submodule "tests/test-data/test-repos/flask"]
	path = tests/test-data/test-repos/flask
	url = git@github.com:pallets/flask.git
[submodule "tests/test-data/test-repos/commons-lang"]
	path = tests/test-data/test-repos/commons-lang
	url = git@github.com:apache/commons-lang.git
